.article-card {
  border: 1px solid #d6d0d0;
  border-radius: 8px;
  padding: 20px;
  margin: 15px 0px 40px 0px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.article-card img {
  max-width: 100%;
  border-radius: 6px;
}

.article-data {
  font-size: 1rem;
  color: #555;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.article-title {
  font-size: 1.2rem;
  font-weight: bold;
  color: #222;
}

.information-button {
  background: white;
  border: 2px solid rgb(189, 185, 185);
  color: #1a73e8;
  cursor: pointer;
  padding: 8px 12px;
  font-size: 1em;
  border-radius: 6px;
  max-width: 20%;
}

.information-button:hover {
  background: #f8f8f8;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  text-decoration: underline;
}

.article-image-link {
  display: block;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  border: 1px solid #eee;
}

.article-image {
  width: 100%;
  height: auto;
  display: block;
  transition: transform 0.3s ease;
}

.article-image-link:hover {
  cursor: pointer;
  transform: scale(1.02);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.article-line {
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.article-details {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.detail-item {
  margin: 0;
}

.top-article-line {
  display: flex;
  align-items: center;
  gap: 15px;
  flex-wrap: wrap;
}
