.articles-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem 3rem;
  background-color: #e7e2e25d;
  min-height: 100vh;
  align-items: center;
  border-radius: 8px;
}

.articles {
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3px;
}
