:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  font-synthesis: none;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  align-items: center;
}

.button {
  padding: 8px 24px;
  background-color: #2563eb;
  color: white;
  font-weight: 500;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.button:hover {
  background-color: #1d4ed8;
}

.button:focus {
  outline: none;
  box-shadow: 0 0 0 2px #93c5fd;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  min-height: 100%;
  background-color: #f4f3fa; /* soft pale blue/grey background */
}

.scrollable-content {
  position: relative;
  z-index: 1; /* content above particles */
}
